<div *ngIf="experience">
    <ion-list *ngFor="let exp of experience">

        <ion-list-header>

            <ion-item-sliding #slidingItem>

                <ion-item #item>
                    {{exp.expire}}
                    <ion-icon name="more" color="primary" (click)="openOption(slidingItem, item, $event)" item-start></ion-icon>
                </ion-item>

                <ion-item-options side="right">
                    <button ion-button color="primary" (click)="updateExperience.next(exp)">
                        <ion-icon name="create"></ion-icon>
                        {{'UPDATE_BUTTON' | translate}}
                    </button>
                    <button ion-button color="danger" (click)="deleteExperience.next(exp)">
                        <ion-icon name="trash"></ion-icon>
                        {{'DELETE_BUTTON' | translate}}
                    </button>
                </ion-item-options>
            </ion-item-sliding>

        </ion-list-header>

        <ion-item>
            <ion-label fixed>{{'COMPANY' | translate}}</ion-label>
            <ion-input disabled [value]="exp.company"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label fixed>{{'PROJECT' | translate}}</ion-label>
            <ion-input disabled [value]="exp.project"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label fixed>{{'JOB_DUTY' | translate}}</ion-label>
            <ion-input disabled [value]="exp.job"></ion-input>
        </ion-item>

    </ion-list>
</div>
