add-attendance-card {
    .red-color {
        color: red;
    }

    .worker-list {
        margin-top: -64px;
        min-height: 65vh;
    }
    ion-label span {
        font-size: 12px;
        float: right;
        margin-top: .5em;
    }

}
