<ion-header>
    <ion-toolbar>

        <ion-buttons start>
            <button ion-button icon-only (click)="dismiss()">
                <ion-icon name="close"></ion-icon>
            </button>
        </ion-buttons>

        <ion-title>{{'ADD_BANK_CARD' | translate}}</ion-title>
    </ion-toolbar>
</ion-header>


<ion-content padding>


    <ion-list>

        <ion-item>
            <ion-label>{{'CARD_OWNER' | translate}}</ion-label>
            <ion-input disabled [value]="(personalId | async)?.realname"></ion-input>
        </ion-item>

        <ion-item>
            <ion-label>{{'PERSONAL_ID' | translate}}</ion-label>
            <ion-input disabled [value]="(personalId | async)?.num"></ion-input>
        </ion-item>

        <form [formGroup]="bankcardForm">
            <ion-item>
                <ion-label>{{'CARD_NUMBER' | translate}}</ion-label>
                <ion-input type="text" formControlName="cardNumber" required (blur)="getCardType()"></ion-input>
            </ion-item>
            <div *ngIf="cardNumber.invalid && (cardNumber.dirty || cardNumber.touched)" class="form-error red-color">
                <span *ngIf="cardNumber.errors.required">{{'BANK_CARD_ERROR' | translate}}</span>
                <span *ngIf="!cardNumber.errors.required && cardNumber.errors.bankcardNumberFormat">
                    {{bankcardForm.getError('bankcardNumberFormat', 'cardNumber') | translate}}
                </span>
            </div>

            <ion-item>
                <ion-label>{{'BANKCARD_TYPE' | translate}}</ion-label>
                <ion-input disabled formControlName="cardType" required></ion-input>
            </ion-item>

            <ion-item>
                <ion-label>{{'RESERVATION_PHONE_NUMBER' | translate}}</ion-label>
                <ion-input type="text" formControlName="phoneNumber" required></ion-input>
            </ion-item>
            <div *ngIf="phoneNumber.invalid && (phoneNumber.dirty || phoneNumber.touched)" class="form-error red-color">
                <span *ngIf="phoneNumber.errors.required">{{'ACCOUNT_REQUIRED_ERROR' | translate}}</span>
                <span *ngIf="!phoneNumber.errors.required && phoneNumber.errors.mobilePhoneFormat">
                    {{bankcardForm.getError('mobilePhoneFormat', 'phoneNumber') | translate}}
                </span>
            </div>
        </form>
    </ion-list>

</ion-content>
<ion-footer>
    <button ion-button block (click)="execution()" [disabled]="bankcardForm.invalid" color="primary" no-margin>{{'ADD_BUTTON' | translate}}</button>
</ion-footer>
