<ion-content class="transparent-header" [ngStyle]="{'background-image': 'url(' + backgroundImage +')'}">
  <ion-header>
    <ion-navbar></ion-navbar>
  </ion-header>
  <ion-slides #slider [direction]="direction" class="content-slider">

    <!--========================================signup  start===================================================-->
    <ion-slide class="zoom swiper-no-swiping">
      <form action="" [formGroup]="signupForm" style="padding: 20% 32px 0;">

        <!--user type-->
        <ion-item>
          <ion-label>{{'LOGIN_USER_TYPE' | translate}}</ion-label>
          <ion-select #selectType formControlName="userType" [cancelText]="'CANCEL_BUTTON' | translate"
                      [okText]="'CONFIRM_BUTTON' | translate" required>
            <ion-option *ngFor="let type of userTypes;" [value]="type">{{type | translate}}</ion-option>
          </ion-select>
        </ion-item>
        <div *ngIf="userType.invalid && (userType.dirty || userType.touched)" class="form-error">
          <span *ngIf="userType.errors.required">{{'LOGIN_USER_TYPE_REQUIRED_ERROR' | translate}}</span>
        </div>

        <!--company user need to select one company from the results of remote search-->
        <div *ngIf="userType.value === 'LOGIN_COMPANY_USER'">
          <!--company name-->
          <div class="custom-container">
            <ion-item>
              <ion-label fixed>{{'COMPANY' | translate}}</ion-label>
              <ion-textarea formControlName="company" [value]="(selectedCompany$ | async)?.name" [required]="userType.value === 'LOGIN_COMPANY_USER'" class="company-input"></ion-textarea>
            </ion-item>
            <ion-icon name="search" (click)="getCompany()"></ion-icon>
          </div>

          <div *ngIf="company.dirty || company.touched" class="form-error">
            <span *ngIf="userType.value === 'LOGIN_COMPANY_USER' && (company.errors)?.required">{{'LOGIN_COMPANY_REQUIRED_ERROR' | translate}}</span>
          </div>

          <!--realname of company user-->
          <ion-item>
            <ion-label fixed>{{'NAME' | translate}}</ion-label>
            <ion-input type="text" formControlName="realname"></ion-input>
          </ion-item>
          <div
            *ngIf="userType.value === 'LOGIN_COMPANY_USER' && realname.invalid && (realname.dirty || realname.touched)"
            class="form-error">
            <span *ngIf="realname.errors.required">{{'LOGIN_NAME_REQUIRED_ERROR' | translate}}</span>
            <span *ngIf="!realname.errors.required && realname.errors.nameFormat">
              {{signupForm.getError('nameFormat', 'realname') | translate}}
            </span>
          </div>
        </div>

        <!--mobile phone number, used as account for user-->
        <ion-item>
          <ion-label fixed>{{'MOBILE_PHONE' | translate}}</ion-label>
          <ion-input type="tel" formControlName="mobilePhone" required></ion-input>
        </ion-item>
        <div *ngIf="mobilePhoneSignup.invalid && (mobilePhoneSignup.dirty || mobilePhoneSignup.touched)"
             class="form-error">
              <span *ngIf="mobilePhoneSignup.errors.required">
                {{'LOGIN_ACCOUNT_REQUIRED_ERROR' | translate}}
              </span>
          <span *ngIf="!mobilePhoneSignup.errors.required && mobilePhoneSignup.errors.mobilePhoneFormat">
                {{signupForm.getError('mobilePhoneFormat', 'mobilePhone') | translate}}
              </span>
        </div>

        <!--image verification code-->
        <div *ngIf="(signupImageVerification$ | async)?.captcha">
          <ion-item>
            <ion-label fixed>{{'LOGIN_IMAGE_VERIFICATION' | translate}}</ion-label>
            <ion-input type="text" formControlName="imageVerification" required></ion-input>
          </ion-item>
          <image-verification [src]="loginVerificationImage$ | async" (update)="updateVerificationImage()"></image-verification>
          <div
            *ngIf="imageVerificationSignup.invalid && (imageVerificationSignup.dirty || imageVerificationSignup.touched)"
            class="form-error">
                <span *ngIf="imageVerificationSignup.errors.required">
                  {{'LOGIN_IMAGE_VERIFICATION_REQUIRED_ERROR' | translate}}
                </span>
          </div>
        </div>

        <!--mobile phone verification code-->
        <div class="custom-container">
          <ion-item>
            <ion-label fixed>{{'LOGIN_PHONE_VERIFICATION' | translate}}</ion-label>
            <ion-input type="number" formControlName="phoneVerification" required></ion-input>
          </ion-item>
          <cut-down (request)="getPhoneVerCode()"
                    [hidden]="signupForm.get('mobilePhone').invalid || signupForm.get('imageVerification').invalid">

          </cut-down>
        </div>
        <div
          *ngIf="phoneVerificationSignup.invalid && (phoneVerificationSignup.dirty || phoneVerificationSignup.touched)"
          class="form-error">
              <span *ngIf="phoneVerificationSignup.errors.required">
                {{'LOGIN_PHONE_VERIFICATION_REQUIRED_ERROR' | translate}}
              </span>
        </div>

        <!--password-->
        <div formGroupName="passwordInfo">
          <!--first input-->
          <ion-item>
            <ion-label fixed>{{'PASSWORD' | translate}}</ion-label>
            <ion-input type="password" formControlName="password" required></ion-input>
          </ion-item>
          <div *ngIf="passwordSignup.invalid && (passwordSignup.dirty || passwordSignup.touched)" class="form-error">
            <span *ngIf="passwordSignup.errors.required">{{'LOGIN_PASSWORD_REQUIRED_ERROR' | translate}}</span>
            <span *ngIf="!passwordSignup.errors.required && passwordSignup.errors.pwdFormat">
                {{signupForm.getError('pwdFormat', 'passwordInfo.password') | translate}}
                </span>
          </div>

          <!--second input-->
          <ion-item class="margin-bottom">
            <ion-label fixed>{{'LOGIN_CONFIRM_PASSWORD' | translate}}</ion-label>
            <ion-input type="password" formControlName="confirmPassword" required></ion-input>
          </ion-item>
          <div *ngIf="confirmPasswordSignup.invalid && (confirmPasswordSignup.dirty || confirmPasswordSignup.touched)"
               class="form-error">
                <span
                  *ngIf="confirmPasswordSignup.errors.required">{{'LOGIN_PASSWORD_REQUIRED_ERROR' | translate}}</span>
            <span *ngIf="!confirmPasswordSignup.errors.required && confirmPasswordSignup.errors.pwdFormat">
                  {{signupForm.getError('pwdFormat', 'passwordInfo.confirmPassword') | translate}}
                </span>
          </div>

          <!--password match validate-->
          <div
            *ngIf="signupForm.hasError('mismatch', 'passwordInfo') && (confirmPasswordSignup.dirty || confirmPasswordSignup.touched)"
            class="form-error">
                <span>
                  {{signupForm.getError('mismatch', 'passwordInfo') | translate}}
                </span>
          </div>
        </div>

        <span>{{signupForm.get('imageVerification').valid | json}}</span>
        <button ion-button block round (click)="signup()" [disabled]="signupForm.invalid" color="light" class="login-button">{{'SIGNUP' | translate}}</button>
      </form>

      <button ion-button clear (click)="changeSlidesActive(1); signupForm.reset();"
              class="slide-button position-bottom">
        {{'LOGIN_NEED_TO_LOGIN' | translate}}
        <ion-icon name="arrow-down"></ion-icon>
      </button>
    </ion-slide>
    <!--========================================signup  end===================================================-->

    <ion-slide class="zoom swiper-no-swiping">
      <ion-slides #innerSlider class="content-slider">

        <!--========================================login part start==============================================-->
        <ion-slide class="swiper-no-swiping">
          <button ion-button clear (click)="changeSlidesActive(0);loginForm.reset();" class="slide-button">
            {{'LOGIN_NEED_TO_SIGN_UP' |
            translate}}
            <ion-icon name="arrow-up"></ion-icon>
          </button>
          <div [formGroup]="loginForm" style="padding: 0 32px 32px 32px">

            <!--mobile phone -->
            <ion-item>
              <ion-label floating>{{'MOBILE_PHONE' | translate}}</ion-label>
              <ion-input type="number" formControlName="mobilePhone" required></ion-input>
            </ion-item>
            <div *ngIf="mobilePhone.invalid && (mobilePhone.dirty || mobilePhone.touched)"
                 class="form-error">
              <span *ngIf="mobilePhone.errors.required">
                {{'LOGIN_ACCOUNT_REQUIRED_ERROR' | translate}}
              </span>
              <span *ngIf="!mobilePhone.errors.required && mobilePhone.errors.mobilePhoneFormat">
                {{loginForm.getError('mobilePhoneFormat', 'mobilePhone') | translate}}
              </span>
            </div>

            <!--pass word-->
            <ion-item>
              <ion-label floating>{{'PASSWORD' | translate}}</ion-label>
              <ion-input type="password" formControlName="password" required></ion-input>
            </ion-item>
            <div *ngIf="password.invalid && (password.dirty || password.touched)"
                 class="form-error">
              <span *ngIf="password.errors.required">
                {{'LOGIN_PASSWORD_REQUIRED_ERROR' | translate}}
              </span>
              <span *ngIf="!password.errors.required && password.errors.pwdFormat">
                {{loginForm.getError('pwdFormat', 'password') | translate}}
              </span>
            </div>

            <!--image verification-->
            <div *ngIf="(loginInfo$ | async)?.captcha">
              <ion-item>
                <ion-label floating>{{'LOGIN_IMAGE_VERIFICATION' | translate}}</ion-label>
                <ion-input type="text" formControlName="imageVerification" required></ion-input>
              </ion-item>
              <image-verification [src]="loginVerificationImage$ | async" (update)="updateVerificationImage()"></image-verification>
              <div *ngIf="imageVerification.invalid && (imageVerification.dirty || imageVerification.touched)"
                   class="form-error">
                <span *ngIf="imageVerification.errors.required">
                  {{'LOGIN_IMAGE_VERIFICATION_REQUIRED_ERROR' | translate}}
                </span>
              </div>
            </div>

            <button ion-button block round (click)="login()" [disabled]="loginForm.invalid" color="light"
                    class="login-button">{{'LOGIN' | translate}}
            </button>
            <button ion-button clear (click)="changeInnerSlidesActive(1); loginForm.reset();" color="light"
                    class="forgot-button">{{'LOGIN_FORGOT_PASSWORD' | translate}}
            </button>
          </div>
        </ion-slide>
        <!--========================================login part end===================================================-->

        <!--========================================reset password start===================================================-->
        <ion-slide class="swiper-no-swiping">
          <div [formGroup]="resetPwdForm" style="padding: 20% 32px 32px 32px">

            <!--mobile phone-->
            <ion-item>
              <ion-label fixed>{{'MOBILE_PHONE' | translate}}</ion-label>
              <ion-input type="tel" formControlName="mobilePhone" required></ion-input>
            </ion-item>
            <div *ngIf="mobilePhoneReset.invalid && (mobilePhoneReset.dirty || mobilePhoneReset.touched)"
                 class="form-error">
              <span *ngIf="mobilePhoneReset.errors.required">
                {{'LOGIN_ACCOUNT_REQUIRED_ERROR' | translate}}
              </span>
              <span *ngIf="!mobilePhoneReset.errors.required && mobilePhoneReset.errors.mobilePhoneFormat">
                {{resetPwdForm.getError('mobilePhoneFormat', 'mobilePhone') | translate}}
              </span>
            </div>

            <!--mobile phone verification code-->
            <ion-item>
              <ion-label fixed>{{'LOGIN_PHONE_VERIFICATION' | translate}}</ion-label>
              <ion-input type="number" formControlName="phoneVerification" required></ion-input>
            </ion-item>
            <div
              *ngIf="phoneVerificationReset.invalid && (phoneVerificationReset.dirty || phoneVerificationReset.touched)"
              class="form-error">
              <span *ngIf="phoneVerificationReset.errors.required">
                {{'LOGIN_PHONE_VERIFICATION_REQUIRED_ERROR' | translate}}
              </span>
            </div>

            <!--image verification code-->
            <ion-item>
              <ion-label fixed>{{'LOGIN_IMAGE_VERIFICATION' | translate}}</ion-label>
              <ion-input type="text" formControlName="imageVerification" required></ion-input>
            </ion-item>
            <div
              *ngIf="imageVerificationReset.invalid && (imageVerificationReset.dirty || imageVerificationReset.touched)"
              class="form-error">
                <span *ngIf="imageVerificationReset.errors.required">
                  {{'LOGIN_IMAGE_VERIFICATION_REQUIRED_ERROR' | translate}}
                </span>
            </div>

            <div formGroupName="passwordInfo">
              <!--new password-->
              <ion-item>
                <ion-label fixed>{{'PASSWORD' | translate}}</ion-label>
                <ion-input type="password" formControlName="password" required></ion-input>
              </ion-item>
              <div *ngIf="passwordReset.invalid && (passwordReset.dirty || passwordReset.touched)" class="form-error">
                <span *ngIf="passwordReset.errors.required">{{'LOGIN_PASSWORD_REQUIRED_ERROR' | translate}}</span>
                <span *ngIf="!passwordReset.errors.required && passwordReset.errors.pwdFormat">
                {{resetPwdForm.getError('pwdFormat', 'passwordInfo.password') | translate}}
                </span>
              </div>

              <!--confirm new password-->
              <ion-item class="margin-bottom">
                <ion-label fixed>{{'LOGIN_CONFIRM_PASSWORD' | translate}}</ion-label>
                <ion-input type="password" formControlName="confirmPassword" required></ion-input>
              </ion-item>
              <div *ngIf="confirmPasswordReset.invalid && (confirmPasswordReset.dirty || confirmPasswordReset.touched)"
                   class="form-error">
                <span
                  *ngIf="confirmPasswordReset.errors.required">{{'LOGIN_PASSWORD_REQUIRED_ERROR' | translate}}</span>
                <span *ngIf="!confirmPasswordReset.errors.required && confirmPasswordReset.errors.pwdFormat">
                  {{resetPwdForm.getError('pwdFormat', 'passwordInfo.confirmPassword') | translate}}
                </span>
              </div>

              <!--password match validate-->
              <div
                *ngIf="resetPwdForm.hasError('mismatch', 'passwordInfo') && (confirmPasswordReset.dirty || confirmPasswordReset.touched)"
                class="form-error">
                <span>
                  {{resetPwdForm.getError('mismatch', 'passwordInfo') | translate}}
                </span>
              </div>
            </div>

            <button ion-button block round (click)="resetPassword()" [disabled]="resetPwdForm.invalid" color="light"
                    class="login-button">
              {{'LOGIN_RESET_PASSWORD' | translate}}
            </button>
            <button ion-button clear (click)="changeInnerSlidesActive(0); resetPwdForm.reset();" color="light"
                    class="goback-button">
              <ion-icon name="arrow-back"></ion-icon>
              {{'LOGIN_NEED_TO_LOGIN' | translate}}
            </button>
          </div>
        </ion-slide>
        <!--========================================reset password end===================================================-->
      </ion-slides>
    </ion-slide>

  </ion-slides>
</ion-content>
