<ion-list *ngFor="let item of education">
    <ion-list-header>{{item.expire}}</ion-list-header>
    <ion-item>
        <ion-label fixed>{{'SCHOOL' | translate}}</ion-label>
        <ion-input
            [value]="item.school"
            disabled
        ></ion-input>
    </ion-item>
    <ion-item>
        <ion-label fixed>{{'DEGREE' | translate}}</ion-label>
        <ion-input
            [value]="item.education"
            disabled
        ></ion-input>
    </ion-item>
    <ion-item>
        <ion-label fixed>{{'MAJOR' | translate}}</ion-label>
        <ion-input
            [value]="item.major"
            disabled
        ></ion-input>
    </ion-item>
</ion-list>
