<ion-header>

    <ion-navbar>
        <ion-title>{{'ATTENDANCE_RECORD' | translate}}</ion-title>

        <ion-buttons
            end
            *ngIf="operatePermission | async"
        >
            <button
                ion-button
                icon-only
                (click)="showActionSheet()"
            >
                <ion-icon name="more"></ion-icon>
            </button>
        </ion-buttons>

    </ion-navbar>

</ion-header>

<ion-content padding>
    <ion-list>
        <ion-list-header>
            <ion-icon
                name="man"
                item-start
            ></ion-icon>
            <ion-label text-left>
                <span class="name">
                    {{attendanceResult.contract__worker__employee__realname}}
                </span>
                <span>{{attendanceResult.day}}</span>
            </ion-label>
            <ion-icon
                [name]="attendanceResult.confirm | attendanceStateIcon"
                item-end
            ></ion-icon>
        </ion-list-header>

        <ion-item *ngFor="let record of (records | async)">
            <ion-label>

                <ion-grid>

                    <ion-row>
                        <ion-col>
                            <ion-icon
                                name="md-log-in"
                                color="secondary"
                                *ngIf="record.type === 1"
                            ></ion-icon>
                            <ion-icon
                                name="md-log-out"
                                color="danger"
                                *ngIf="record.type === 2"
                                style="transform:rotate(180deg)"
                            ></ion-icon>
                            <span>{{record.time}}</span>
                        </ion-col>
                    </ion-row>

                    <ion-row>
                        <ion-col>
                            <ion-icon name="attendance-machine"></ion-icon>
                            <span>{{record.attendance_machine__name}}</span>
                        </ion-col>
                    </ion-row>

                </ion-grid>

                <h6>{{record.type | inOut | translate}}</h6>
            </ion-label>

            <ion-icon
                name="images"
                color="primary"
                (click)="showCapture(record)"
                item-end
            ></ion-icon>
        </ion-item>

        <ion-infinite-scroll
            (ionInfinite)="getNextPage($event)"
            *ngIf="haveMoreData | async; let morData;"
        >
            <ion-infinite-scroll-content
                loadingSpinner="bubbles"
                [loadingText]="'LOADING' | translate"
            ></ion-infinite-scroll-content>
        </ion-infinite-scroll>
        <ion-item
            *ngIf="!moreData"
            class="complete"
            text-center
        >
            {{'NO_MORE_DATA' | translate}}
        </ion-item>
    </ion-list>
</ion-content>
