<ion-list *ngFor="let item of certification">
    <ion-item-divider>{{item.workType}}</ion-item-divider>

    <ion-item>
        <ion-label fixed>{{'AVAILABILITY_EXPIRE' | translate}}</ion-label>
        <ion-input
            disabled
            [value]="item.expire"
        ></ion-input>
    </ion-item>

    <ion-item>
        <ion-label fixed>{{'ISSUING_AGENCY' | translate}}</ion-label>
        <ion-input
            disabled
            [value]="item.mechanism"
        ></ion-input>
    </ion-item>

    <ion-item>
        <ion-label fixed>{{'CERTIFICATION_NUMBER' | translate}}</ion-label>
        <ion-input
            disabled
            [value]="item.identifier"
        ></ion-input>
    </ion-item>

    <ion-item>
        <ion-label fixed>{{'CERTIFICATION_NUMBER' | translate}}</ion-label>
        <ion-input
            disabled
            [value]="item.education"
        ></ion-input>
    </ion-item>

    <ion-item>
        <ion-label fixed>{{'CERTIFICATION_DETAIL' | translate}}</ion-label>
    </ion-item>
    <img
        *ngIf="item.imageFace"
        [src]="item.imageFace | imageSrc"
    >
    <img
        *ngIf="item.imageBack"
        [src]="item.imageBack | imageSrc"
    >

</ion-list>
