<div [formGroup]="resetPwdForm">

    <!--mobile phone-->
    <ion-item>
        <ion-label fixed>{{'MOBILE_PHONE' | translate}}</ion-label>
        <ion-input type="tel" formControlName="mobilePhone" [value]="account" required [disabled]="!!account"></ion-input>
    </ion-item>
    <div *ngIf="mobilePhone.invalid && (mobilePhone.dirty || mobilePhone.touched)" class="form-error" [ngStyle]="{'color': errorColor}">
        <span *ngIf="mobilePhone.errors.required">
            {{'ACCOUNT_REQUIRED_ERROR' | translate}}
        </span>
        <span *ngIf="!mobilePhone.errors.required && mobilePhone.errors.mobilePhoneFormat">
            {{resetPwdForm.getError('mobilePhoneFormat', 'mobilePhone') | translate}}
        </span>
    </div>

    <!--image verification code-->
    <div *ngIf="(resetPwdImageVerification$ | async)?.captcha">
        <ion-item>
            <ion-label fixed>{{'IMAGE_VERIFICATION' | translate}}</ion-label>
            <ion-input type="text" formControlName="imageVerification" required></ion-input>
        </ion-item>
        <image-verification [src]="loginVerificationImage$ | async" (update)="updateImage$.next(true)"></image-verification>
        <div *ngIf="imageVerification.invalid && (imageVerification.dirty || imageVerification.touched)" class="form-error" [ngStyle]="{'color': errorColor}">
            <span *ngIf="imageVerification.errors.required">
                {{'IMAGE_VERIFICATION_REQUIRED_ERROR' | translate}}
            </span>
        </div>
    </div>

    <!--mobile phone verification code-->
    <div class="custom-container">
        <ion-item>
            <ion-label fixed>{{'PHONE_VERIFICATION' | translate}}</ion-label>
            <ion-input type="number" formControlName="phoneVerification" required></ion-input>
        </ion-item>
        <cut-down (request)="phoneVerCode.next(true)" [hidden]="resetPwdForm.get('mobilePhone').invalid || resetPwdForm.get('imageVerification').invalid">
        </cut-down>
    </div>
    <div *ngIf="phoneVerification.invalid && (phoneVerification.dirty || phoneVerification.touched)" class="form-error" [ngStyle]="{'color': errorColor}">
        <span *ngIf="phoneVerification.errors.required">
            {{'VERIFICATION_REQUIRED_ERROR' | translate}}
        </span>
    </div>

    <div formGroupName="passwordInfo">
        <!--new password-->
        <ion-item>
            <ion-label fixed>{{'PASSWORD' | translate}}</ion-label>
            <ion-input type="password" formControlName="password" required></ion-input>
        </ion-item>
        <div *ngIf="password.invalid && (password.dirty || password.touched)" class="form-error" [ngStyle]="{'color': errorColor}">
            <span *ngIf="password.errors.required">{{'PASSWORD_REQUIRED_ERROR' | translate}}</span>
            <span *ngIf="!password.errors.required && password.errors.pwdFormat">
                {{resetPwdForm.getError('pwdFormat', 'passwordInfo.password') | translate}}
            </span>
        </div>

        <!--confirm new password-->
        <ion-item class="margin-bottom">
            <ion-label fixed>{{'CONFIRM_PASSWORD' | translate}}</ion-label>
            <ion-input type="password" formControlName="confirmPassword" required></ion-input>
        </ion-item>
        <div *ngIf="confirmPassword.invalid && (confirmPassword.dirty || confirmPassword.touched)" class="form-error" [ngStyle]="{'color': errorColor}">
            <span *ngIf="confirmPassword.errors.required">{{'PASSWORD_REQUIRED_ERROR' | translate}}</span>
            <span *ngIf="!confirmPassword.errors.required && confirmPassword.errors.pwdFormat">
                {{resetPwdForm.getError('pwdFormat', 'passwordInfo.confirmPassword') | translate}}
            </span>
        </div>

        <!--password match validate-->
        <div *ngIf="resetPwdForm.hasError('mismatch', 'passwordInfo') && (confirmPassword.dirty || confirmPassword.touched)" class="form-error"
            [ngStyle]="{'color': errorColor}">
            <span>
                {{resetPwdForm.getError('mismatch', 'passwordInfo') | translate}}
            </span>
        </div>
    </div>

    <button ion-button block round (click)="reset$.next(true)" [disabled]="resetPwdForm.invalid" [color]="buttonColor" class="login-button">
        {{'RESET_RESET_PASSWORD' | translate}}
    </button>
</div>
