image-verification {
  div {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 16px;
  }
  span {
    font-style: italic;
    font-size: 12px;
  }

}
