<ion-header>

    <ion-navbar color="primary">
        <ion-title>{{'PROJECT' | translate}}</ion-title>
    </ion-navbar>

</ion-header>

<ion-content padding>

    <ion-card padding *ngIf="name | async" class="pane">
        <button ion-button icon-left clear color="light" *ngIf="haveMultipleProject | async" (click)="switchProject($event)">
            <ion-icon name="swap"></ion-icon>
            {{'PROJECT_SWITCH_PROJECT' | translate}}
        </button>

        <ion-row>
            <ion-col>
                <h2>{{name | async}}</h2>
            </ion-col>
        </ion-row>

        <ion-row>
            <ion-col>
                <h3>{{address | async}}</h3>
            </ion-col>
        </ion-row>

        <ion-row>
            <ion-col>
                <h6>{{remainDays | async | positiveInteger}}</h6>
                <h4 *ngIf="!(isExpired | async)">{{'PROJECT_REMAIN_DAYS' | translate}}</h4>
                <h4 *ngIf="isExpired | async">{{'PROJECT_OVERDUE_DAYS' | translate}}</h4>
            </ion-col>
            <ion-col>
                <h6>{{workerCount | async}}</h6>
                <h4>{{'PROJECT_WORKER_COUNT' | translate}}</h4>
            </ion-col>
        </ion-row>
    </ion-card>

    <icon-bar [icons]="icons | async" (goTo)="goTo($event)"></icon-bar>
</ion-content>
