<ion-header>

  <ion-navbar>
    <ion-title>{{'WORKER_MANAGEMENT' | translate}}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-segment [(ngModel)]="type" (ngModelChange)="setWorkersCountDistinctByPayType()"> <!--Button's value comes from ContractType enum placed in request-interface. -->
    <ion-segment-button value="timer">{{'TIME_PAY_WORKER' | translate}}</ion-segment-button>
    <ion-segment-button value="piecer">{{'PIECE_PAY_WORKER' | translate}}</ion-segment-button>
  </ion-segment>

  <div [ngSwitch]="type">

    <ion-list *ngSwitchCase="'timer'">

      <ion-list-header>{{'WORKER_AMOUNT' | translate}} {{timersCount | async}}</ion-list-header>
      
      <ion-item *ngFor="let item of timers | async" detail-push>
        <ion-label fixed>{{item.name}}</ion-label>
        <ion-input disabled [value]="item.workType"></ion-input>
      </ion-item>
      
      <ion-infinite-scroll (ionInfinite)="getNextPage($event)" *ngIf="haveMoreTimer">
        <ion-infinite-scroll-content loadingSpinner="bubbles" [loadingText]="LOADING | translate"></ion-infinite-scroll-content>
      </ion-infinite-scroll>
      <ion-item *ngIf="!haveMoreTimer" class="complete">{{'NO_MORE_DATA' | translate}}</ion-item>

    </ion-list>

    <ion-list *ngSwitchCase="'piecer'">

      <ion-list-header>{{'WORKER_AMOUNT' | translate}} {{piecersCount | async}}</ion-list-header>

      <ion-item *ngFor="let item of piecers | async" detail-push>
        <ion-label fixed>{{item.name}}</ion-label>
        <ion-input disabled [value]="item.workType"></ion-input>
      </ion-item>
     
      <ion-infinite-scroll (ionInfinite)="getNextPage($event)" *ngIf="haveMorePiecer">
        <ion-infinite-scroll-content loadingSpinner="bubbles" [loadingText]="LOADING | translate"></ion-infinite-scroll-content>
      </ion-infinite-scroll>
      <ion-item *ngIf="!haveMorePiecer" class="complete">{{'NO_MORE_DATA' | translate}}</ion-item>

    </ion-list>

  </div>
</ion-content>
