attendance-time-chart {
    ion-col {
        text-align: center;
    }
    ion-card-header {
        text-align: center;
    }
    .card-ios {
        margin: 12px 0;
        width: calc(100%);
    }
}
