<ion-header>

    <ion-navbar>

        <ion-buttons start>
            <button ion-button icon-only (click)="dismiss()">
                <ion-icon name="close"></ion-icon>
            </button>
        </ion-buttons>

        <ion-title>{{'EDIT_WORKER_CONTRACT' | translate}}</ion-title>
    </ion-navbar>

</ion-header>


<ion-content padding>

    <ion-item-group [formGroup]="form">

        <ion-item>
            <ion-label fixed>{{'CONTRACT_TYPE' | translate}}</ion-label>
            <ion-input disabled [value]="contract.type | workerContractType | translate"></ion-input>
        </ion-item>

        <ion-item class="workers">
            <ion-label fixed>{{'NAME' | translate}}</ion-label>
            <ion-input disabled [value]="contract.worker__employee__realname"></ion-input>
        </ion-item>

        <ion-item>
            <ion-label>{{'END_DATE' | translate}}</ion-label>
            <ion-datetime displayFormat="YYYY-MM-DD" pickerFormat="YYYY MM DD" [cancelText]="'CANCEL_BUTTON' | translate" [doneText]="'CONFIRM_BUTTON' | translate"
                [min]="contract.finish_day" formControlName="endDay" required></ion-datetime>
        </ion-item>
        <div *ngIf="endDay.invalid && (endDay.dirty || endDay.touched)" class="form-danger">
            <span *ngIf="endDay.errors.required">{{'CONTRACT_END_DATE_REQUIRED_ERROR' | translate}}</span>
        </div>

        <ion-item-divider>
            {{'SALARY_PAY_TYPE' | translate}}
            <ion-icon *ngIf="contract.type === 'work_piece_pay'" name="add" item-end (click)="addPiece()"></ion-icon>
        </ion-item-divider>

        <!--FIXME:使用日期组件，只选择日期的时候这个地方搞不清楚是哪的问题，payDay的值无法正确设置-->
        <ion-item>
            <ion-label fixed>{{'PAYDAY' | translate}}</ion-label>
            <ion-input type="number" formControlName="payDay" [(ngModel)]="contract.pay_day" required></ion-input>
        </ion-item>
        <div *ngIf="payDay.invalid && (payDay.dirty || payDay.touched)" class="form-danger">
            <span *ngIf="payDay.errors.required">{{'PAYDAY_REQUIRED_ERROR' | translate}}</span>
            <span *ngIf="!payDay.errors.required && (payDay.errors.max || payDay.errors.min)">
                {{'DATE_RANGE_ERROR' | translate}}
            </span>
        </div>

        <div *ngIf="contract.type === 'work_time_pay'" [formGroup]="timePayContract">
            <ion-item>
                <ion-label fixed>{{'HOURLY_WAGE' | translate}}</ion-label>
                <ion-input type="number" formControlName="hourlyWage" required></ion-input>
            </ion-item>
            <div *ngIf="hourlyWage.invalid && (hourlyWage.dirty || hourlyWage.touched)" class="form-danger">
                <span *ngIf="hourlyWage.errors.required">{{'HOURLY_WAGE_REQUIRED_ERROR' | translate}}</span>
            </div>

            <ion-item>
                <ion-label fixed>{{'OVERTIME_HOURLY_WAGE' | translate}}</ion-label>
                <ion-input type="number" formControlName="overtimeHourlyWage" required></ion-input>
            </ion-item>
            <div *ngIf="overtimeHourlyWage.invalid && (overtimeHourlyWage.dirty || overtimeHourlyWage.touched)" class="form-danger">
                <span *ngIf="overtimeHourlyWage.errors.required">{{'OVERTIME_HOURLY_WAGE_REQUIRED_ERROR' | translate}}</span>
            </div>
        </div>

        <div *ngIf="contract.type === 'work_piece_pay'">
            <div *ngFor="let form of piecePayContracts;  index as index;" [formGroup]="form">

                <ion-card>
                    <ion-card-header text-center>
                        {{form.value.name}}
                        <ion-icon name="close" color="primary" (click)="deletePieceForm(index)" float-right></ion-icon>
                    </ion-card-header>

                    <ion-card-content>
                        <ion-list>
                            <ion-item>
                                <ion-label fixed>{{'PIECE_NAME' | translate}}</ion-label>
                                <ion-input [formControl]="form.get('name')" required></ion-input>
                            </ion-item>
                            <div *ngIf="form.get('name').invalid && (form.get('name').dirty || form.get('name').touched)" class="form-danger">
                                <span *ngIf="form.get('name').errors.required">{{'PIECE_NAME_REQUIRED_ERROR' | translate}}</span>
                            </div>

                            <ion-item>
                                <ion-label fixed>{{'PIECE_LOCATION' | translate}}</ion-label>
                                <ion-input [formControl]="form.get('location')" required></ion-input>
                            </ion-item>
                            <div *ngIf="form.get('location').invalid && (form.get('location').dirty || form.get('location').touched)" class="form-danger">
                                <span *ngIf="form.get('location').errors.required">{{'PIECE_LOCATION_REQUIRED_ERROR' | translate}}</span>
                            </div>

                            <ion-item>
                                <ion-label fixed>{{'PIECE_COUNT' | translate}}</ion-label>
                                <ion-input type="number" [formControl]="form.get('num')" required></ion-input>
                            </ion-item>
                            <div *ngIf="form.get('num').invalid && (form.get('num').dirty || form.get('num').touched)" class="form-danger">
                                <span *ngIf="form.get('num').errors.required">{{'PIECE_COUNT_REQUIRED_ERROR' | translate}}</span>
                            </div>

                            <ion-item>
                                <ion-label fixed>{{'UNIT_PRICE' | translate}}</ion-label>
                                <ion-input type="number" [formControl]="form.get('pieceWage')" required></ion-input>
                            </ion-item>
                            <div *ngIf="form.get('pieceWage').invalid && (form.get('pieceWage').dirty || form.get('pieceWage').touched)" class="form-danger">
                                <span *ngIf="form.get('pieceWage').errors.required">{{'PIECE_PRICE_REQUIRED_ERROR' | translate}}</span>
                            </div>

                            <ion-item>
                                <ion-label fixed>{{'STANDARD' | translate}}</ion-label>
                                <ion-textarea autoSize [formControl]="form.get('standard')"></ion-textarea>
                            </ion-item>
                        </ion-list>
                    </ion-card-content>

                </ion-card>
            </div>
        </div>

        <ion-item-divider>
            {{'ATTENDANCE_TIME' | translate}}
            <button ion-button clear color="primary" (click)="toggleAttendanceTime()" item-end>{{attendanceTimeSettingText | translate}}</button>
        </ion-item-divider>

        <ion-item *ngIf="isPieceWiseAttendance">{{'FIRST_DUTY' | translate}}</ion-item>

        <ion-item>
            <ion-label>{{'ON_DUTY_TIME' | translate}}</ion-label>
            <ion-datetime displayFormat="HH:mm" pickerFormat="HH:mm" [cancelText]="'CANCEL_BUTTON' | translate" [doneText]="'CONFIRM_BUTTON' | translate"
                formControlName="morningOnDuty" (ngModelChange)="resetMorningOffDuty()" required></ion-datetime>
        </ion-item>
        <div *ngIf="morningOnDuty.invalid && (morningOnDuty.dirty || morningOnDuty.touched)" class="form-danger">
            <span *ngIf="morningOnDuty.errors.required">{{'ON_DUTY_TIME_REQUIRED_ERROR' | translate}}</span>
        </div>

        <ion-item>
            <ion-label>{{'OFF_DUTY_TIME' | translate}}</ion-label>
            <ion-datetime displayFormat="HH:mm" pickerFormat="HH:mm" [cancelText]="'CANCEL_BUTTON' | translate" [doneText]="'CONFIRM_BUTTON' | translate"
                [min]="morningOnDuty.value" formControlName="morningOffDuty" [disabled]="!morningOnDuty.value" required></ion-datetime>
        </ion-item>
        <div *ngIf="morningOffDuty.invalid && (morningOffDuty.dirty || morningOffDuty.touched)" class="form-danger">
            <span *ngIf="morningOffDuty.errors.required">{{'OFF_DUTY_TIME_REQUIRED_ERROR' | translate}}</span>
        </div>

        <div *ngIf="isPieceWiseAttendance">

            <ion-item>{{'SECOND_DUTY' | translate}}</ion-item>

            <ion-item>
                <ion-label>{{'ON_DUTY_TIME' | translate}}</ion-label>
                <ion-datetime displayFormat="HH:mm" pickerFormat="HH:mm" [cancelText]="'CANCEL_BUTTON' | translate" [doneText]="'CONFIRM_BUTTON' | translate"
                    formControlName="afternoonOnDuty" (ngModelChange)="resetAfternoonOffDuty()"></ion-datetime>
            </ion-item>
            <div *ngIf="afternoonOnDuty.invalid && (afternoonOnDuty.dirty || afternoonOnDuty.touched)" class="form-danger">
                <span *ngIf="afternoonOnDuty.errors.required">{{'ON_DUTY_TIME_REQUIRED_ERROR' | translate}}</span>
            </div>

            <ion-item>
                <ion-label>{{'OFF_DUTY_TIME' | translate}}</ion-label>
                <ion-datetime displayFormat="HH:mm" pickerFormat="HH:mm" [cancelText]="'CANCEL_BUTTON' | translate" [doneText]="'CONFIRM_BUTTON' | translate"
                    [min]="afternoonOnDuty.value" formControlName="afternoonOffDuty" [disabled]="!afternoonOnDuty.value"></ion-datetime>
            </ion-item>
            <div *ngIf="afternoonOffDuty.invalid && (afternoonOffDuty.dirty || afternoonOffDuty.touched)" class="form-danger">
                <span *ngIf="afternoonOffDuty.errors.required">{{'OFF_DUTY_TIME_REQUIRED_ERROR' | translate}}</span>
            </div>

        </div>

        <ion-item-divider>{{'SUPPLEMENT_CONTENT' | translate}}</ion-item-divider>

        <ion-item>
            <ion-label>{{'COMMENT' | translate}}</ion-label>
            <ion-textarea formControlName="comment" [placeholder]="'SUPPLEMENT_TIP' | translate" autoSize></ion-textarea>
        </ion-item>

        <attach-list (file)="getAttach($event)"></attach-list>

    </ion-item-group>
</ion-content>

<ion-footer>
    <button ion-button block no-margin color="primary" [disabled]="formInvalid" (click)="contract$.next(true)" no-margin>{{'CONFIRM_BUTTON' | translate}}</button>
</ion-footer>
