<ion-header>

    <ion-navbar>
        <ion-title>{{'PIECE_AUDIT_DETAIL' | translate}}</ion-title>
        <ion-buttons *ngIf="isAuditButtonVisibility | async" end>
            <button ion-button small clear (click)="audit()">
                {{'AUDIT' | translate}}
            </button>
        </ion-buttons>
    </ion-navbar>

</ion-header>


<ion-content padding>

    <ion-list *ngIf="pieceFlow | async; let data">

        <ion-item>
            <ion-label>{{'NAME' | translate}}</ion-label>
            <ion-input disabled [value]="data.workpieces__contract__worker__employee__realname"></ion-input>
        </ion-item>

        <ion-item>
            <ion-label>{{'PIECE_NAME' | translate}}</ion-label>
            <ion-input disabled [value]="(piece | async)?.name"></ion-input>
        </ion-item>

        <ion-item>
            <ion-label>{{'COMPLETE_DATE' | translate}}</ion-label>
            <ion-input disabled [value]="data.finish_date"></ion-input>
        </ion-item>

        <ion-item>
            <ion-label>{{'COMPLETE_COUNT' | translate}}</ion-label>
            <ion-input disabled [value]="(piece | async)?.num"></ion-input>
        </ion-item>

        <ion-item>
            <ion-label>{{'PAY_PERCENT' | translate}}</ion-label>
            <ion-input disabled [value]="data.quality_percent"></ion-input>
        </ion-item>

        <ion-item>
            <ion-label>{{'QUALITY_DESCRIPTION' | translate}}</ion-label>
            <ion-input disabled [value]="data.comment"></ion-input>
        </ion-item>

    </ion-list>

    <work-flow-attach [workFlow]="workFlow | async"></work-flow-attach>

    <work-flow-time-line [workFlow]="workFlow | async"></work-flow-time-line>

</ion-content>
