revisable-attendance-list {
    ion-col ion-icon {
        margin: 0 !important;
    }
    ion-list-header {
        margin-bottom: 0 !important;
    }
    .item-inner {
        background-image: none !important;
    }
}
