<ion-header>
    <ion-toolbar>

        <ion-buttons start>
            <button ion-button icon-only (click)="dismiss()">
                <ion-icon name="close"></ion-icon>
            </button>
        </ion-buttons>

        <ion-title>{{title | translate}}</ion-title>
    </ion-toolbar>
</ion-header>


<ion-content padding>

    <ion-list [formGroup]="certificateForm">

        <ion-item>
            <ion-label>{{'WORK_TYPE' | translate}}</ion-label>
            <ion-select formControlName="workTypeId" [cancelText]="'CANCEL_BUTTON' | translate" [okText]="'CONFIRM_BUTTON' | translate"
                required>
                <ion-option *ngFor="let item of workTypes | async" [selected]="item.id === workTypeId.value" [value]="item.id">{{item.name}}</ion-option>
            </ion-select>
        </ion-item>
        <div *ngIf="workTypeId.invalid && (workTypeId.dirty || workTypeId.touched)" class="form-danger">
            <span *ngIf="workTypeId.errors.required">{{'WORK_TYPE_REQUIRE_ERROR' | translate}}</span>
        </div>

        <ion-item>
            <ion-label fixed>{{'CERTIFICATION_NUMBER' | translate}}</ion-label>
            <ion-input type="text" formControlName="certificateNumber" required></ion-input>
        </ion-item>
        <div *ngIf="certificateNumber.invalid && (certificateNumber.dirty || certificateNumber.touched)" class="form-danger">
            <span *ngIf="certificateNumber.errors.required">{{'CERTIFICATE_NUMBER_REQUIRED_ERROR' | translate}}</span>
        </div>

        <ion-item>
            <ion-label>{{'FIRST_GET_DATE' | translate}}</ion-label>
            <ion-datetime displayFormat="YYYY-MM-DD" pickerFormat="YYYY MM DD" [cancelText]="'CANCEL_BUTTON' | translate" [doneText]="'CONFIRM_BUTTON' | translate"
                [max]="today" formControlName="firstGetDate" (ngModelChange)="updateExpireDate($event)" required></ion-datetime>
        </ion-item>
        <div *ngIf="firstGetDate.invalid && (firstGetDate.dirty || firstGetDate.touched)" class="form-danger">
            <span *ngIf="firstGetDate.errors.required">{{'FIRST_GET_DATE_REQUIRED_ERROR' | translate}}</span>
        </div>

        <ion-item>
            <ion-label>{{'AVAILABLE_EXPIRE_START' | translate}}</ion-label>
            <ion-datetime displayFormat="YYYY-MM-DD" pickerFormat="YYYY MM DD" [cancelText]="'CANCEL_BUTTON' | translate" [doneText]="'CONFIRM_BUTTON' | translate"
                [min]="expireDate" [max]="today" formControlName="availableStartDate" (ngModelChange)="updateExpireEndDate($event)"
                required></ion-datetime>
        </ion-item>
        <div *ngIf="availableStartDate.invalid && (availableStartDate.dirty || availableStartDate.touched)" class="form-danger">
            <span *ngIf="availableStartDate.errors.required">{{'EXPIRE_START_DATE_REQUIRED_ERROR' | translate}}</span>
        </div>

        <ion-item>
            <ion-label>{{'AVAILABLE_EXPIRE_END' | translate}}</ion-label>
            <ion-datetime displayFormat="YYYY-MM-DD" pickerFormat="YYYY MM DD" [cancelText]="'CANCEL_BUTTON' | translate" [doneText]="'CONFIRM_BUTTON' | translate"
                [min]="expireEndDate" [max]="today" formControlName="availableEndDate" required></ion-datetime>
        </ion-item>
        <div *ngIf="availableEndDate.invalid && (availableEndDate.dirty || availableEndDate.touched)" class="form-danger">
            <span *ngIf="availableEndDate.errors.required">{{'EXPIRE_END_DATE_REQUIRED_ERROR' | translate}}</span>
        </div>

        <ion-item>
            <ion-label>{{'DEGREE_OF_EDUCATION' | translate}}</ion-label>
            <ion-select formControlName="education" [cancelText]="'CANCEL_BUTTON' | translate" [okText]="'CONFIRM_BUTTON' | translate"
                required>
                <ion-option *ngFor="let item of degrees; index as idx" [value]="idx + 1" [selected]="idx===education.value">{{item}}</ion-option>
            </ion-select>
        </ion-item>
        <div *ngIf="education.invalid && (education.dirty || education.touched)" class="form-danger">
            <span *ngIf="education.errors.required">{{'DEGREE_REQUIRED_ERROR' | translate}}</span>
        </div>

        <ion-item>
            <ion-label fixed>{{'ISSUING_AGENCY' | translate}}</ion-label>
            <ion-input type="text" formControlName="mechanism" required></ion-input>
        </ion-item>
        <div *ngIf="mechanism.invalid && (mechanism.dirty || mechanism.touched)" class="form-danger">
            <span *ngIf="mechanism.errors.required">{{'ISSUING_AGENCY_REQUIRED_ERROR' | translate}}</span>
        </div>

        <div padding>
            <take-photo [placeholder]="frontTip" (fileUrl)="getImageFace($event)"></take-photo>

            <take-photo [placeholder]="backTip" (fileUrl)="getImageBack($event)"></take-photo>
        </div>
    </ion-list>

</ion-content>
<ion-footer>
    <button ion-button block (click)="execution()" [disabled]="certificateForm.invalid" color="primary" no-margin>{{buttonText | translate}}</button>
</ion-footer>
