<div *ngIf="experience">
    <ion-list *ngFor="let item of experience">
        <ion-list-header text-left>{{item.expire}}</ion-list-header>

        <ion-item>
            <ion-label fixed>{{'PROJECT'| translate}}</ion-label>
            <ion-input disabled [value]="item.project"></ion-input>
        </ion-item>

        <ion-item>
            <ion-label fixed>{{'TEAM' | translate}}</ion-label>
            <ion-input disabled [value]="item.team"></ion-input>
        </ion-item>

        <ion-item>
            <ion-label fixed>{{'WORK_TYPE' | translate}}</ion-label>
            <ion-input disabled [value]="item.workType"></ion-input>
        </ion-item>
    </ion-list>
</div>
