page-sign-worker-contract {
    ion-item-divider {
        margin-top: 10px;
    }
    .workers {
        span {
            margin-left: 2em;
        }
    }
    .item-divider-ios {
        background: none;
        font-size: 12px;
        font-weight: 500;
    }
}
