<ion-header>
    <ion-toolbar>

        <ion-buttons start>
            <button
                ion-button
                icon-only
                (click)="dismiss()"
            >
                <ion-icon name="close"></ion-icon>
            </button>
        </ion-buttons>

        <ion-title>{{text | translate}}</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>

    <form
        action
        [formGroup]="addLocationCardForm"
        padding
    >
        <ion-list>
            <ion-item>
                <ion-label fixed>{{'CARD_NUMBER' | translate}}</ion-label>
                <ion-input
                    type="number"
                    formControlName="cardNumber"
                    required
                ></ion-input>
            </ion-item>
            <div
                *ngIf="cardNumber.invalid && (cardNumber.dirty || cardNumber.touched)"
                class="form-danger"
            >
                <span *ngIf="cardNumber.errors.required">
                    {{'CARD_NUMBER_REQUIRED_ERROR' | translate}}
                </span>
                <span *ngIf="!cardNumber.errors.required && cardNumber.errors.cardNumberFormat">
                    {{addLocationCardForm.getError('cardNumberFormat', 'cardNumber') | translate}}
                </span>
            </div>

            <ion-item>
                <ion-label fixed>{{'BIND_WORKER' | translate}}</ion-label>
                <ion-toggle
                    [(ngModel)]="checked"
                    formControlName="bind"
                    (ngModelChange)="switchState.next($event)"
                ></ion-toggle>
            </ion-item>

            <ion-item *ngIf="checked">
                <ion-label>{{'SELECT_WORKER' | translate}}</ion-label>
                <ion-input
                    type="text"
                    [value]="boundWorker?.name"
                    formControlName="selectedWorker"
                    [required]="checked"
                    disabled
                ></ion-input>
            </ion-item>

        </ion-list>
    </form>

    <ion-list
        radio-group
        padding
        *ngIf="checked"
        [(ngModel)]="boundWorker"
        class="worker-list"
    >
        <ion-list-header [ngClass]="{'red-color': !boundWorker}">{{'SELECT_WORKERS_BELOW' | translate}}</ion-list-header>

        <ion-item *ngFor="let item of workers | async">
            <ion-label>
                <ion-icon [name]="item.workTypeId | workType"></ion-icon>
                {{item.name}}
                <span>{{item.teamName}}</span>
            </ion-label>
            <ion-radio [value]="item"></ion-radio>
        </ion-item>

        <ion-infinite-scroll
            (ionInfinite)="getNextPage($event)"
            *ngIf="haveMoreData | async"
        >
            <ion-infinite-scroll-content
                loadingSpinner="bubbles"
                [loadingText]="'LOADING' | translate"
            ></ion-infinite-scroll-content>
        </ion-infinite-scroll>
        <ion-item
            *ngIf="!(haveMoreData | async)"
            class="complete"
            text-center
        >
            {{'NO_MORE_DATA' | translate}}
        </ion-item>
    </ion-list>

</ion-content>
<ion-footer>
    <button
        ion-button
        block
        (click)="execution()"
        [disabled]="addLocationCardForm.invalid"
        color="primary"
        no-margin
    >
        {{text | translate}}
    </button>
</ion-footer>
