<ion-header>

  <ion-navbar>
    <ion-title>{{'ATTENDANCE_CHAR' | translate}}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <ion-item-divider color="light">{{'SET_QUERY_CONDITION' | translate}}</ion-item-divider>

  <ion-list>
    <ion-item>
      <ion-label>{{'START_TIME' | translate}}</ion-label>
      <ion-datetime displayFormat="YYYY-MM-DD" pickerFormat="YYYY MM DD" [cancelText]="'CANCEL_BUTTON' | translate" [doneText]="'CONFIRM_BUTTON' | translate"
        min="2017-01-01" [max]="today" [(ngModel)]="startDate" (ngModelChange)="setDate('start')"></ion-datetime>
    </ion-item>

    <ion-item>
      <ion-label>{{'END_TIME' | translate}}</ion-label>
      <ion-datetime displayFormat="YYYY-MM-DD" pickerFormat="YYYY MM DD" [cancelText]="'CANCEL_BUTTON' | translate" [doneText]="'CONFIRM_BUTTON' | translate"
        [min]="startDate" [max]="today" [(ngModel)]="endDate" (ngModelChange)="setDate('end')"></ion-datetime>
    </ion-item>

    <ion-item>
      <ion-label>{{'TEAM' | translate}}</ion-label>
      <ion-select [(ngModel)]="selectedTeams" multiple="true" (ngModelChange)="setTeam($event)" [cancelText]="'CANCEL_BUTTON' | translate"
        [okText]="'CONFIRM_BUTTON' | translate">
        <ion-option *ngFor="let team of (teams | async)" [value]="team" [selected]="team.selected">{{team.name}}</ion-option>
      </ion-select>
    </ion-item>

  </ion-list>

  <ion-list class="identity" style="margin: 16px 0 0 0">
    <ion-item-divider>
      <ion-label>
        <ion-grid>
          <ion-row>
            <ion-col (click)="sortAttendanceBy('contract__worker__employee__realname')">{{'NAME' | translate}}</ion-col>
            <ion-col (click)="sortAttendanceBy('total_area_hour')">{{'TOTAL_TIME' | translate}}</ion-col>
            <ion-col (click)="sortAttendanceBy('availability_work_hour')">{{'VALID_TIME' | translate}}</ion-col>
            <ion-col>
              <ion-icon *ngIf="operatePermission | async" name="more" (click)="showActionSheet()"></ion-icon>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-label>
      <ion-checkbox [(ngModel)]="allSelected" (ngModelChange)="toggleAllSelected($event)"></ion-checkbox>

    </ion-item-divider>
  </ion-list>

  <ion-list style="background: grey">
    <ion-item *ngFor="let attendance of (attendances | async)" detail-push>
      
      <ion-label>
        <ion-grid>
          <ion-row (click)="goToDetailPage(attendance)">
            <ion-col>{{attendance.contract__worker__employee__realname}}</ion-col>
            <ion-col>{{attendance.total_area_hour}}</ion-col>
            <ion-col>{{attendance.availability_work_hour}}</ion-col>
          </ion-row>
        </ion-grid>
      </ion-label>
      
      <ion-checkbox [(ngModel)]="attendance.selected" (ngModelChange)="toggleSelected(attendance)"></ion-checkbox>
    </ion-item>

  </ion-list>

  <ion-infinite-scroll (ionInfinite)="getNextPage($event)">
    <ion-infinite-scroll-content
    loadingSpinner="bubbles"
    [loadingText]="LOADING | translate"></ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>