<ion-header>
    <ion-toolbar>
        <ion-buttons start>
            <button ion-button icon-only (click)="dismiss()">
                <ion-icon name="close"></ion-icon>
            </button>
        </ion-buttons>


        <ion-title>{{'SELECT_WORKER' | translate}}</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>

    <ion-list padding class="worker-list" *ngIf="(canQueryOther | async) && !single">

        <ion-item *ngFor="let item of workerSubject | async">
            <ion-label>
                <ion-icon [name]="item.workTypeId | workType"></ion-icon>
                {{item.name}}
                <span>{{item.teamName}}</span>
            </ion-label>
            <ion-checkbox [(ngModel)]="item.selected" [checked]="item.selected"></ion-checkbox>
            <ion-radio *ngIf="single" [value]="item"></ion-radio>
        </ion-item>

    </ion-list>

    <ion-list padding radio-group class="worker-list" [(ngModel)]="selectedWorker" *ngIf="(canQueryOther | async) && single">

        <ion-item *ngFor="let item of workerSubject | async">
            <ion-label>
                {{item.name}}
                <span>{{item.teamName}} {{item.workType}}</span>
            </ion-label>
            <ion-radio [value]="item"></ion-radio>
        </ion-item>

    </ion-list>

    <ion-infinite-scroll (ionInfinite)="getNextPage($event)" *ngIf="haveMoreData | async; let moreData;">
        <ion-infinite-scroll-content loadingSpinner="bubbles" [loadingText]="'LOADING' | translate"></ion-infinite-scroll-content>
    </ion-infinite-scroll>

    <ion-item *ngIf="!moreData" class="complete" text-center>{{'NO_MORE_DATA' | translate}}</ion-item>

</ion-content>

<ion-footer>
    <button ion-button full color="primary" (click)="updateSelectedWorkers()" no-margin>{{'CONFIRM_BUTTON' | translate}} </button>
</ion-footer>
