<!-- <ion-menu [content]="content">
    <ion-header>
        <ion-toolbar>
            <ion-title>{{'WELCOME_INTRO' | translate}}</ion-title>
        </ion-toolbar>
    </ion-header>

    <ion-content>
        <ion-list>
            <div *ngFor="let page of pages">
                <button menuClose ion-item *ngIf="page.inMenu" (click)="openPage(page)">
                    {{page.title | translate}}
                </button>
            </div>
        </ion-list>
    </ion-content>
</ion-menu> -->

<ion-nav #content [root]="rootPage"></ion-nav>
