project-list {
    ion-list-header {
        text-align: center;
        padding-left: 0;
        ion-label {
            font-size: 14px;
        }
    }
    button {
        text-align: left;
    }
    ion-label {
        font-size: 12px;
        white-space: normal;
    }
}
