page-attendance-confirm {
    .card-ios {
        margin: 12px 0;
        width: calc(100%);
    }
    .control {
        background: rgba(220, 224, 209, 0.479);
        border: 1px solid #96c4ca
    }
}
