<ion-header>

  <ion-navbar>
    <ion-title>{{'PENDING_TO_CONFIRMED_ATTENDANCE' | translate}}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <ion-card>
    <ion-card-header text-center>{{'TEAMS_HAVE_UNCONFIRMED_ATTENDANCE' | translate}}</ion-card-header>
    <ion-card-content>
      <canvas #teamChart></canvas>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-header text-center>{{'DAYS_HAVE_UNCONFIRMED_ATTENDANCE' | translate}}</ion-card-header>
    <ion-card-content>
      <canvas #dayChart></canvas>
    </ion-card-content>
  </ion-card>

  <ion-item-divider>{{'SET_QUERY_CONDITION' | translate}}</ion-item-divider>
  <ion-list>
    <ion-item>
      <ion-label>{{'TEAM' | translate}}</ion-label>
      <ion-select [(ngModel)]="selectedTeams" multiple="true" (ngModelChange)="filterDataBy('team',$event)" [cancelText]="'CANCEL_BUTTON' | translate"
        [okText]="'CONFIRM_BUTTON' | translate">
        <ion-option *ngFor="let team of teams | async" [value]="team" [selected]="team.selected">{{team.name}}</ion-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label>{{'TIME' | translate}}</ion-label>
      <ion-select [(ngModel)]="selectedDays" multiple="true" (ngModelChange)="filterDataBy('day',$event)" [cancelText]="'CANCEL_BUTTON' | translate"
        [okText]="'CONFIRM_BUTTON' | translate">
        <ion-option *ngFor="let day of days | async" [value]="day" [selected]="day.selected">{{day.date}}</ion-option>
      </ion-select>
    </ion-item>
  </ion-list>

  <ion-list>

    <ion-item *ngFor="let statistic of statisticList | async">
      <ion-grid (click)="goToNextPage(statistic)">
        <ion-row>
          <ion-col>{{statistic.date}}</ion-col>
          <ion-col text-right>
            <ion-badge color="secondary">{{statistic.count}}</ion-badge>
          </ion-col>
        </ion-row>
        <ion-row text-wrap>
          {{'TEAM' | translate}}： {{statistic.teams | join }}
        </ion-row>
      </ion-grid>
      <ion-icon name="arrow-forward" item-end></ion-icon>
    </ion-item>

  </ion-list>

</ion-content>