<!-- Generated template for the FuzzySearchComponent component -->

<ion-searchbar (ionInput)="search.emit($event.target.value)" placeholder="{{'REGISTER_SEARCH_COMPANY_TIP' | translate}}"></ion-searchbar>

<ion-content [ngSwitch]="selectType">

  <!--check box-->
  <div *ngSwitchCase="'checkbox'">
    <ion-item *ngFor="let item of items">
      <ion-label>{{item.name}}</ion-label>
      <ion-checkbox color="dark" checked="true"></ion-checkbox>
    </ion-item>
  </div>

  <!--radio-->
  <ion-list *ngSwitchCase="'radio'" radio-group>
    <ion-item *ngFor="let item of items" (click)="confirm.emit(item)">
      <ion-label>{{item.name}}</ion-label>
      <ion-radio value="{{item.id}}" (ionSelect)="setRadioResult($event)"></ion-radio>
    </ion-item>
  </ion-list>

</ion-content>
