<ion-header>

    <ion-navbar>
        <ion-title>{{'ORGANIZATION' | translate}}</ion-title>

        <ion-buttons end>
            <button ion-button icon-only *ngIf="canOperate | async" (click)="addTeam()">
                <ion-icon name="add"></ion-icon>
            </button>
        </ion-buttons>
    </ion-navbar>

</ion-header>


<ion-content padding>
    <ion-list>
        <ion-item (click)="goToPersonalInfoPage('projectManagerId')" detail-push>
            {{'PROJECT_MANAGER' | translate}}：{{(project | async)?.projectManager}}
        </ion-item>
        <ion-item (click)="goToPersonalInfoPage('labourManagerId')" detail-push>
            {{'LABOUR_MANAGER' | translate}}：{{(project | async)?.labourManager}}
        </ion-item>
    </ion-list>


    <ion-list *ngFor="let team of teams | async">
        <ion-list-header>
            <ion-item-sliding #slidingItem>
                <ion-item #item>
                    {{team.name}}
                    <ion-icon name="more" color="primary" (click)="openOption(slidingItem, item, $event)" *ngIf="canOperate | async" item-start></ion-icon>
                </ion-item>

                <ion-item-options side="right">
                    <button ion-button color="primary" [disabled]="!team.id" (click)="updateTeam(team)" *ngIf="canOperate | async">
                        <ion-icon name="create"></ion-icon>
                        {{'UPDATE_BUTTON' | translate}}
                    </button>
                    <button ion-button color="danger" [disabled]="!team.id" (click)="deleteTeam(team)" *ngIf="canOperate | async">
                        <ion-icon name="trash"></ion-icon>
                        {{'DELETE_BUTTON' | translate}}
                    </button>
                </ion-item-options>
            </ion-item-sliding>

        </ion-list-header>

        <ion-item (click)="goToPersonalInfoPage(team)" detail-push>
            {{'QUALITY_CLERK' | translate}}：{{team.qualityClerk}}
        </ion-item>
        <ion-item (click)="goToNextPage(team)" detail-push>
            {{'FOREMAN' | translate}}：{{team.foreman}}
        </ion-item>
    </ion-list>
</ion-content>
