<ion-header>

  <ion-navbar>
    <ion-title>{{'ORGANIZATION' | translate}}</ion-title>

    <ion-buttons end>
      <button ion-button icon-only *ngIf="canOperate | async" (click)="addTeam()">
        <ion-icon name="add"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-list>
    <ion-item (click)="goToPersonalInfoPage()">
      {{'PROJECT_MANAGER' | translate}}：{{(project | async)?.projectManager}}
      <ion-icon name="arrow-forward" item-end></ion-icon>
    </ion-item>
    <ion-item (click)="goToPersonalInfoPage()">
      {{'LABOUR_MANAGER' | translate}}：{{(project | async)?.labourManager}}
      <ion-icon name="arrow-forward" item-end></ion-icon>
    </ion-item>
  </ion-list>

  <ion-item-group *ngFor="let item of teams | async">

    <ion-item-divider color="light">
      {{item.name}}
      <ion-icon name='create' item-end (click)="updateTeam(item)" *ngIf="canOperate | async"></ion-icon>
      <ion-icon name='trash' item-end (click)="deleteTeam(item)" *ngIf="canOperate | async"></ion-icon>
    </ion-item-divider>


    <ion-item (click)="goToPersonalInfoPage()">
      {{'QUALITY_CLERK' | translate}}：{{item.qualityClerk}}
      <ion-icon name="arrow-forward" item-end></ion-icon>
    </ion-item>
    <ion-item (click)="goToNextPage()">
      {{'FOREMAN' | translate}}：{{item.foreman}}
      <ion-icon name="arrow-forward" item-end></ion-icon>
    </ion-item>

  </ion-item-group>
</ion-content>
