<ion-header>

    <ion-navbar>
        <ion-title>{{'CHANGE_ACCOUNT' | translate}}</ion-title>
    </ion-navbar>

</ion-header>


<ion-content padding>

    <form [formGroup]="form">

        <ion-item>
            <ion-label fixed>{{'ORIGIN_ACCOUNT' | translate}}</ion-label>
            <ion-input type="tel" formControlName="oldMobilePhone" disabled required></ion-input>
        </ion-item>

        <div *ngIf="showOldImageVerification | async; let needOldImage">
            <ion-item>
                <ion-label fixed>{{'IMAGE_VERIFICATION' | translate}}</ion-label>
                <ion-input type="text" formControlName="oldImageVerification" [required]="needOldImage"></ion-input>
            </ion-item>
            <image-verification [src]="oldImageVerificationUrl | async" (update)="oldImageVerification$.next(true)"></image-verification>
            <div *ngIf="oldImageVerification.invalid && (oldImageVerification.dirty || oldImageVerification.touched)" class="form-danger">
                <span *ngIf="oldImageVerification.errors.required">
                    {{'IMAGE_VERIFICATION_REQUIRED_ERROR' | translate}}
                </span>
            </div>
        </div>

        <div class="custom-container">
            <ion-item>
                <ion-label fixed>{{'PHONE_VERIFICATION' | translate}}</ion-label>
                <ion-input type="number" formControlName="oldPhoneVerification" required></ion-input>
            </ion-item>
            <cut-down (request)="oldPhoneVerification$.next(true)" [hidden]="oldMobilePhone.invalid || oldImageVerification.invalid"></cut-down>
        </div>
        <div *ngIf="oldPhoneVerification.invalid && (oldPhoneVerification.dirty || oldPhoneVerification.touched)" class="form-danger">
            <span *ngIf="oldPhoneVerification.errors.required">
                {{'VERIFICATION_REQUIRED_ERROR' | translate}}
            </span>
        </div>

        <ion-item>
            <ion-label fixed>{{'NEW_ACCOUNT' | translate}}</ion-label>
            <ion-input type="tel" formControlName="newMobilePhone" required></ion-input>
        </ion-item>
        <div *ngIf="newMobilePhone.invalid && (newMobilePhone.dirty || newMobilePhone.touched)" class="form-danger">
            <span *ngIf="newMobilePhone.errors.required">
                {{'ACCOUNT_REQUIRED_ERROR' | translate}}
            </span>
            <span *ngIf="!newMobilePhone.errors.required && newMobilePhone.errors.mobilePhoneFormat">
                {{form.getError('mobilePhoneFormat', 'newMobilePhone') | translate}}
            </span>
        </div>

        <div *ngIf="showNewImageVerification$ | async; let needNewImage">
            <ion-item>
                <ion-label fixed>{{'IMAGE_VERIFICATION' | translate}}</ion-label>
                <ion-input type="text" formControlName="newImageVerification" [required]="needNewImage"></ion-input>
            </ion-item>
            <image-verification [src]="newImageVerificationUrl$ | async" (update)="newImageVerification$.next(true)"></image-verification>
            <div *ngIf="newImageVerification.invalid && (newImageVerification.dirty || newImageVerification.touched)" class="form-danger">
                <span *ngIf="newImageVerification.errors.required">
                    {{'IMAGE_VERIFICATION_REQUIRED_ERROR' | translate}}
                </span>
            </div>
        </div>

        <div class="custom-container">
            <ion-item>
                <ion-label fixed>{{'PHONE_VERIFICATION' | translate}}</ion-label>
                <ion-input type="number" formControlName="newPhoneVerification" required></ion-input>
            </ion-item>
            <cut-down (request)="newPhoneVerification$.next(true)" [hidden]="newMobilePhone.invalid || newImageVerification.invalid || oldPhoneVerification.invalid"></cut-down>
        </div>
        <div *ngIf="newPhoneVerification.invalid && (newPhoneVerification.dirty || newPhoneVerification.touched)" class="form-danger">
            <span *ngIf="newPhoneVerification.errors.required">
                {{'VERIFICATION_REQUIRED_ERROR' | translate}}
            </span>
        </div>

    </form>


    <button ion-button block (click)="change$.next(true)" [disabled]="form.invalid" color="primary">{{'CONFIRM_BUTTON' | translate}}</button>

</ion-content>
