<ion-header>

    <ion-navbar>
        <ion-title>{{'PERSONAL_INFO' | translate}}</ion-title>
    </ion-navbar>

</ion-header>


<ion-content padding>

    <ion-list *ngIf="!!personalId">
        <ion-list-header>{{'BASIC_INFO' | translate}}</ion-list-header>

        <ion-item>
            <ion-label fixed>{{'NAME' | translate}}</ion-label>
            <ion-input disabled [value]="personalId.realname"></ion-input>
        </ion-item>

        <ion-item>
            <ion-label fixed>{{'PERSONAL_ID' | translate}}</ion-label>
            <ion-input disabled [value]="personalId.num"></ion-input>
        </ion-item>

        <ion-item>
            <ion-label fixed>{{'SEX' | translate}}</ion-label>
            <ion-input disabled [value]="personalId.sex | sex | translate"></ion-input>
        </ion-item>

        <ion-item>
            <ion-label fixed>{{'BIRTHDAY' | translate}}</ion-label>
            <ion-input disabled [value]="personalId.birth_date"></ion-input>
        </ion-item>

        <ion-item *ngIf="!!workerDetail">
            <ion-label fixed>{{'NATIONALITY' | translate}}</ion-label>
            <ion-input disabled [value]="workerDetail.nationality"></ion-input>
        </ion-item>

        <ion-item>
            <ion-label fixed>{{'CENSUS_ADDRESS' | translate}}</ion-label>
            <ion-input disabled [value]="personalId.addr"></ion-input>
        </ion-item>

    </ion-list>

    <ion-list>
        <ion-list-header>
            {{'WORK_TYPE' | translate}}
            <ion-icon name="list" color="primary" item-end (click)="modifyWorkType()" item-end></ion-icon>
        </ion-list-header>

        <ion-item *ngFor="let item of workTypes | async">
            <ion-label>{{item.name}}</ion-label>
            <ion-icon [name]="item.id | workType" item-start></ion-icon>
        </ion-item>

        <ion-item *ngIf="!(workTypes | async)?.length">
            <ion-label text-center>{{'NO_WORK_TYPE' | translate}}</ion-label>
        </ion-item>
    </ion-list>

    <address-select [selectedArea]="selectedArea | async" [addressDetail]="workerDetail?.curraddr__detail" (addressChange)="addressSubject.next($event)"></address-select>

</ion-content>
