mission-list {
  #count {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }
  ion-col {
    padding: 0!important;
  }
  ion-grid ion-row:nth-child(2),
  ion-grid ion-row:nth-child(3) {
    font-size: 12px;
  }
}
